section{
    height: 100vh;
    width:100 vw;

}
button{
    margin:2px;
    padding:2px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button{
    margin:2px;
}
button:hover{
    transform: rotateZ(30deg);
    transform: scale(2);
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    transform-origin: left;
    border-radius: 30px;
    cursor:pointer;
    box-shadow: 10px 5px 5px whitesmoke;
    

}